name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Build
      run: dotnet publish MonAutoType/MonAutoType.csproj -c Release -r win-x64 --self-contained -p:PublishSingleFile=true -o ./publish

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./publish/MonAutoType.exe
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
